body {
    margin:0;
    touch-action: none;
    background-color: #222222;

}

canvas {
    position: absolute;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dg.main.a {
    opacity: 0.3;
    z-index: 2000;
    }
    .close-button.close-Bottom{
      opacity: 0.5;
    z-index: 2000;

    }

    /* TEXT TRIANGLE */
    .textTriangle{
      position: absolute;
      z-index: 2500;
      color: azure;
      height: auto;
      width: auto;
      font-size: 18px;
      white-space: nowrap; /* Thanks to Herb Caudill comment */
      /* left: -30px; */
      top: 16px;
      cursor: default;
    }
    /**FLEXBOX*/
    .bbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .box > *{
        width: 20vw;
        height: 20vh;
        border: solid;
        border: thick double #32a1ce;
      }